*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #424E61;
}

.cabeçalho{
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    font-size: 24px;
}

.imagem-cabeçalho{
    width: 15%;
    display: inline-block;
}

.cabecalho-lista{
    display: inline-block;
    margin: 0 16px;
    font-size: 25px;
}

.NKD{
    background-image: linear-gradient(#424E61,#4e4f50);
    color: white;
    display: flex;
    justify-content: center;
    align-items: 0;
    padding: 40px 0;
}

.NKD-conteudo-um{
    width: 35%;
}

.NKD-conteudo-dois{
    width: 25%;
}

.NKD-titulo{
    padding: 24px;
}







